h1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin: 0 0 19px 0;
  word-wrap: break-word;
  text-transform: uppercase;
  color: #18191a;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.125rem;
  }
}

h2 {
  font-size: 1.875rem;
  font-weight: 800;
  text-transform: capitalize;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.125rem;
  text-align: center;
  margin: 15px 0;
}

button {
  font-size: 15px;
  line-height: 15px;
  padding: 19px 40px;
  border: none;
  cursor: pointer;
  background-color: #18191a;
  color: #ffffff;
  transition: all 0.3s ease;
}
button:hover {
  letter-spacing: 2px;
}

.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f8f8f8;
}
.projectsWrapper {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  max-width: 1050px;
}
@media screen and (max-width: 1480px) {
  .projectsWrapper {
    max-width: 880px;
  }
}
@media screen and (max-width: 1300px) {
  .projectsWrapper {
    max-width: 700px;
  }
}
@media screen and (max-width: 1200px) {
  .projectsWrapper {
    max-width: 880px;
  }
}
@media screen and (max-width: 992px) {
  .projectsWrapper {
    padding: 40px;
    max-width: 500px;
  }
}
@media screen and (max-width: 520px) {
  .projectsWrapper {
    max-width: 100vw;
  }
}
@media screen and (max-width: 480px) {
  .projectsWrapper {
    gap: 30px;
  }
}
@media screen and (max-width: 992px) {
  .projectsWrapper .fade {
    align-self: center;
  }
}

.projectItemWrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
@media screen and (max-width: 1450px) {
  .projectItemWrapper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .projectItemWrapper {
    flex-direction: column;
    align-items: center;
    gap: 55px;
  }
}
@media screen and (max-width: 480px) {
  .projectItemWrapper {
    gap: 40px;
  }
}

.projectCard {
  max-width: 340px;
  flex-shrink: 0;
  box-shadow: 7px 7px 10px -5px rgba(34, 60, 80, 0.45);
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .projectCard {
    width: 100%;
  }
}
.projectCard button {
  display: none;
}
@media (hover: hover) {
  .projectCard:hover {
    animation: shadow-drop-br 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .projectCard:hover .imageWrapper {
    filter: grayscale(0);
  }
  .projectCard:hover .imageWrapper:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
  }
  .projectCard:hover .hiddenBtn {
    position: relative;
    display: block;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    z-index: 10;
  }
}
@media (hover: none) {
  .projectCard div.imageWrapper {
    filter: grayscale(0);
  }
  .projectCard div.imageWrapper:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
  }
  .projectCard div.imageWrapper .hiddenBtn {
    position: relative;
    display: block;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    z-index: 10;
  }
}
.projectCard .imageWrapper {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
@media screen and (max-width: 480px) {
  .projectCard .imageWrapper {
    height: 200px;
  }
}
.projectCard .descriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px 25px;
  border-radius: 0 0 10px 10px;
  background: #f8f9fa;
}
.projectCard .descriptionWrapper p {
  color: #6c757d;
  margin: 8px 0;
}

@keyframes shadow-drop-br {
  0% {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }
  100% {
    transform: translate(-3px, -3px);
    box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=Projects.module.css.map */
