@import "./../../assets/styles/mixins";
@import "./../../assets/styles/variables";

.skills {
  @include displayFlex(row, center);
  background: $inputWhite;
  z-index: 100;
  overflow: hidden;
}

.fade{
  overflow: hidden;
}

.wrapper {
  width: 80%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.cardContainer {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen {
    @media (max-width: $maxWidthBreak1080) {
      justify-content: center;
      gap: 35px;
    }
    @media (max-width: $maxWidthBreak768) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.skillCard {
  width: 335px;
  height: 1000px;
  box-sizing: border-box;
  @include displayFlex(column, center);
  align-items: center;
  gap: 10px;
  background: white;
  padding: 45px 25px 55px;
  border-radius: 15px;
  box-shadow: 6px 6px 8px -5px rgba(34, 60, 80, 0.6);
  @media screen {
    @media (max-width: $maxWidthBreak480) {
     width: 310px;
    }
  }

  & h3 {
    margin: 25px 0 10px;
  }

  & p {
    margin: 5px 0 15px;
  }

  & svg {
    height: 80px;
    width: 80px;
  }

  & .CardDescription {
    font-size: 1.25rem;
    color: $lightBlack;

  }
}

