@import "./../../assets/styles/mixins";
@import "./../../assets/styles/variables";

header {
  height: 100vh;
  box-sizing: border-box;
  flex: 0 0 400px;
  @include displayFlex(column, center);
  padding: 0 100px;
  background: $colorWhite;
  z-index: 10;


  & h2{
    font-size: 2.1rem;
    margin: 0;
    font-weight: 900;
  }

  & p{
    color: $colorGray;
  }

  @media screen {
    @media (max-width: $maxWidthBreak1200) {
      display: none;
    }
  }
}


.active{
  color: $colorBlack;
  letter-spacing: 2px;
}


.nav {
  @include displayFlex(column, center);
  gap: 10px;
  align-items: flex-start;
  padding: 40px 0 50px;

  &Item {
    @include displayFlex(row, center);
    gap: 10px;
    height: 30px;
    text-decoration: none;
    font-family: $montserratFont;
    font-weight: 500;
    transition: all .3s ease;
    color: $colorGray;

    & svg{
      height: 15px;
      width: 15px;
    }

    &:hover {
      color: $colorBlack;
      letter-spacing: 2px;
    }

    & a:visited {
      color: $colorWhite;
    }

  }
}



@media screen {
  @media (max-width: $maxWidthBreak768) {
    .wrapper {
      justify-content: center;

      & .navItem {
        margin: 0 20px;
      }
    }
  }
  @media (max-width: $maxWidthBreak480) {
    .nav {
      display: none;
    }
    .burger {
      @include displayFlex(row, center);
      align-items: center;
    }

  }

}
