header {
  position: absolute;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 10;
}

.wrapper {
  align-content: center;
  justify-content: end;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  &Item {
    text-decoration: none;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 40px;
    color: rgba(255, 255, 255, 0.8);

    &:hover {
      color: white;
    }

    & a:visited {
      color: black;
    }

  }
}

.burger {
  width: 50px;
  height: 50px;
  position: absolute;
  display: none;
  cursor: pointer;
  top: 15px;
  right: 35px;
  font-size: 2.25rem;
  color: rgba(255, 255, 255, 0.8);
}


@media screen {
  @media (max-width: 768px) {
    .wrapper {
      justify-content: center;
      & .navItem {
        margin: 0 20px;
      }
    }
  }
  @media (max-width: 480px) {
    .nav {
      display: none;
    }
    .burger{
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

}
