@import "./assets/styles/variables";
@import-normalize;

html {
  font-family: $montserratFont;
  font-weight: 400;
  font-size: 0.9375rem;
}

/*body * {
  outline: 1px solid lightgrey;
}*/


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  margin: 0 auto;
}

.wrapper {
  max-width: 880px;
  display: flex;
  box-sizing: content-box;
  gap: 15px;
  padding: 0 40px;
}


