h1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin: 0 0 19px 0;
  word-wrap: break-word;
  text-transform: uppercase;
  color: #18191a;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.125rem;
  }
}

h2 {
  font-size: 1.875rem;
  font-weight: 800;
  text-transform: capitalize;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.125rem;
  text-align: center;
  margin: 15px 0;
}

button {
  font-size: 15px;
  line-height: 15px;
  padding: 19px 40px;
  border: none;
  cursor: pointer;
  background-color: #18191a;
  color: #ffffff;
  transition: all 0.3s ease;
}
button:hover {
  letter-spacing: 2px;
}

.contacts {
  min-height: 100vh;
  flex: 1 1 100%;
  background: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contacts .slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1 100%;
  height: 100%;
  align-items: center;
}
.contacts h2 {
  align-self: flex-start;
  font-weight: 800;
  margin-bottom: 62px;
}

.wrapper {
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  gap: 0;
}
.wrapper button {
  align-self: flex-start;
}

.map {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}
.map iframe {
  width: inherit;
  height: inherit;
  border: 0;
  -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
@media screen and (max-width: 480px) {
  .map {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 30px;
}
.form p {
  margin: 8px 8px 0;
  color: #ff4646;
}
.form button {
  margin-top: 18px;
}
.form .input {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
  font-style: italic;
  background: #ffffff;
}
.form .input:nth-child(n+1) {
  margin-top: 10px;
}
.form .input::placeholder {
  font-style: italic;
  font-weight: bold;
  color: #7c7c7c;
}
.form .input:focus {
  outline: none;
  border-color: #18191a;
}
.form .textarea {
  min-height: 100px;
  resize: none;
  font-style: italic;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #7c7c7c;
  padding: 15px;
  background: #ffffff;
  margin: 8px 0 0;
}
.form .textarea::placeholder {
  font-weight: bold;
  color: #7c7c7c;
}
.form .textarea:focus {
  outline: none;
  border-color: #18191a;
}

.formFade {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  font-size: 2rem;
  padding: 20px;
  z-index: 10;
}
.formFade p {
  word-break: normal;
  text-align: center;
}

.hide {
  display: none;
}

/*# sourceMappingURL=Contacts.module.css.map */
